*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#fff8e8;

    font-family:Arial, Helvetica, sans-serif;

    color:#444;

    line-height:1.7;

}

header{

    background:linear-gradient(135deg,#ffd6e7,#fff3b0);

    text-align:center;

    padding:50px;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

}

header h1{

    color:#c2185b;

    font-size:42px;

}

.frase{

    margin-top:15px;

    font-size:20px;

    color:#7a4b00;

    font-style:italic;

}

main{

    width:90%;

    max-width:900px;

    margin:auto;

    padding:40px 0;

}

.card{

    background:white;

    padding:30px;

    border-radius:18px;

    margin-bottom:30px;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.card h2{

    color:#d81b60;

    margin-bottom:15px;

}

.autor{

    color:#777;

    margin-bottom:20px;

}

.imagem{

    width:100%;

    max-width:500px;

    display:block;

    margin:20px auto;

    border-radius:15px;

    box-shadow:0 10px 20px rgba(0,0,0,.15);

}

ul{

    margin-left:25px;

}

li{

    margin:8px 0;

}

footer{

    background:#ffd6e7;

    text-align:center;

    padding:20px;

    font-weight:bold;

    color:#6a1b4d;

}
